/* form css

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .MuiTextField-root {
  margin: 8px;
  width: 300px; /* Adjust the width as needed */
/* }

.form .MuiButton-root {
  margin: 16px;
} */


/* homepage css */

/* .container {
  margin-top: 2rem;
}

.paper {
  padding: 2rem;
}

.buttonContainer {
  margin-right: 1rem;
} */

/* new club form  */

/* .formTitle {
  text-align: center;
} */ 


body {
  background-color: #FFF3B0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .MuiTextField-root {
  margin: 8px;
  width: 300px; /* Adjust the width as needed */
}

.form .MuiButton-root {
  margin: 16px;
}

/* homepage css */

.container {
  margin-top: 2rem;
}

.paper {
  padding: 2rem;
  background-color: #CA895F;
}

.buttonContainer {
  margin-right: 1rem;
}

/* new club form  */

.formTitle {
  text-align: center;
}

/* Additional styling for specific elements */

.form .MuiButton-containedPrimary {
  background-color: #CA895F;
}

.form .MuiButton-outlinedPrimary {
  border-color: #32021F;
  color: #32021F;
}

.form .MuiTypography-h4 {
  color: #35605A;
}

.form .MuiTypography-body1 {
  color: #5E4955;
}
